<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>employer</title>
  </head>
  <body>
    <h2>💎 United Diamond Inc</h2>

    <div>
    <h1><%= application.firstName %> Profile</h1>
    <p><b>First Name:</b> <%= application.firstName %></p>
    <p><b>Last Name:</b> <%= application.lastName %></p>
    <p><b>Street:</b> <%= application.street %></p>
    <p><b>City:</b> <%= application.city %></p>
    <p><b>State:</b> <%= application.state %></p>
    <p><b>Zip:</b> <%= application.zip %></p>
    <p><b>Phone:</b> <%= application.phone %></p>
    <p><b>Email:</b> <%= application.email %></p>
    <p><b>Gender:</b> <%= application.gender %></p>
    <p><b>Date of Birth:</b> <%= application.dob %></p>
    <p><b>Qualification:</b> <%= application.qualification %></p>
    <p><b>Education:</b> <%= application.education %></p>
    </div>
    <br />
    <br />

    <nav id="button">
      <button id="Back"><a href="/employer">Back</a></button>.
      <button id="Edit"><a href=<%=`/employer/edit/${application._id}`%>>Edit</a></button>
      <form action=<%=`/api/application/${application._id}?_method=DELETE`%> method="POST">
        <button id="Delete">Delete</button>
      </form>
    </nav>

    <style>
      body{
        background: linear-gradient(yellow, blue )
      }
      h1 {
        text-align: center;
      }
      h2{
        color: blue
      }
      div{
        border: 4px solid rgb(225, 9, 60);
        border-radius: 10px;
        height: 550px;
        width: 500px;
        margin: auto;
        box-sizing: border-box;
        padding: 20px;
        background-color: wheat
        
      }
      a {
        text-decoration: none;
        color: white;
      }
      #Edit, #Back{
        width: 10%;
        height: 40px;
        font-size: medium;
        background-color: rgb(68, 88, 202);
        border-radius: 10px;
        color: white;
      }
      #Delete {
        height: 40px;
        font-size: medium;
        background-color: rgb(68, 88, 202);
        border-radius: 10px;
        color: white;
        width: 83px;

      }
      #button{
        display: flex;
        justify-content: center;
      }
    </style>
</html>
